body{
    width: 800px;
    margin: 26px auto;
}

h1 {
    text-align: center;
    color: #006600;
}

u {
    color: #0000ff;
}

.name {
    text-align: center;
    color: #ff3399;
    background-color: #fecffd;
}

.main {
    background-color: #ffffcc;
    text-align: center;
    font-style: italic;
}

.form {
    width: 350px;
    margin: 2px auto;
}

.text_1 {
    color: #0000ff;
    border-bottom: 1px solid #515A5A;
}

.text_2 {
    color:red;
    border-bottom: 1px solid #515A5A;
}

.text_3 {
    color: #006600;
}